.card {
  display: none;
  background-image: url("https://www.gettyimages.com/detail/photo/background-image-of-a-blank-beige-vintage-back-of-a-royalty-free-image/184597044");
  background-color: #cccccc;
}
body 
}